@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-gradient {
  background: linear-gradient(to bottom,
      white,
      #fff,
      white,
      #fff,
      white,
      #ffffff,
      #aa85ff,
      #9163ff,
      #8563ff,
      #f3c4fc);
}

.custom-gradient-light {
  background: linear-gradient(to bottom,
      black,
      #000,
      black,
      #000,
      black,
      #000,
      #1f045f,
      #4b17c3,
      #8563ff,
      #f3c4fc);
}

.custom-background {
  background: linear-gradient(to bottom,

      #000000,
      #090924,
      #240A2F,
    );
}

/* Анимация свечения при переходе в тёмную тему */
@keyframes dark-glow {
  0% {
    background-color: #ffffff;
  }

  50% {
    background-color: #836fff;
    /* Переходной цвет */
  }

  100% {
    background-color: #1e293b;
    /* Тёмный фон */
  }
}

/* Анимация свечения при переходе в светлую тему */
@keyframes light-glow {
  0% {
    background-color: #1e293b;
  }

  50% {
    background-color: #ffd700;
    /* Переходной цвет */
  }

  100% {
    background-color: #ffffff;
    /* Светлый фон */
  }
}

.navbar-transition {
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Анимация для шариков */
.ornament {
  @apply w-12 h-12 rounded-full bg-gradient-to-br from-purple-700 to-purple-900 shadow-lg cursor-pointer transition-transform duration-300 ease-in-out relative;
}

.ornament:hover {
  transform: scale(1.2) rotate(15deg);
}

.ornament::before {
  content: '';
  @apply absolute w-3 h-3 bg-yellow-500 top-[-10px] left-[calc(50%-6px)];
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.ornament::after {
  content: '';
  @apply absolute w-0.5 h-2.5 bg-gray-700 top-[-20px] left-[calc(50%-1px)];
}

@keyframes example {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
    /* Bu scroll hosil qilishi mumkin */
  }
}

.footer-distributed {
  background-color: #664dff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  /* O'lchamni 100% ga o'zgartirish */
  max-width: 1500px;
  /* Max o'lchamni 1500px qilib belgilash */
  height: 400px;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin: 0 auto;
  /* Markazlashtirish */
  display: flex;
  justify-content: space-between;
  /* Ensures space between sections */
  flex-wrap: wrap;
  /* Allows items to wrap if necessary */
  position: relative;
  /* Relative position */
  margin-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  flex: 1;
  /* Distributes available space equally */
  max-width: 30%;
  /* Max width for each section */
  min-width: 400px;
  /* Ensures sections don't shrink too much */
  padding: 10px;
  margin-left: 50px;
  margin-top: 120px;
}

.footer-distributed .footer-left {
  max-width: 25%;
  /* Adjusted to 25% for the left section */
}

.footer-distributed .footer-center {
  max-width: 50%;
  /* Adjusted to 50% for the center section */
}

.footer-distributed .footer-right {
  max-width: 20%;
  /* Adjusted to 20% for the right section */
}

.footer-distributed h3 {
  color: #ffffff;
  font: 36px, cursive;
  margin: 0;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  display: flex;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  display: flex;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 3;
  margin-left: 80px !important;
  display: flex;
}

.footer-distributed .footer-center p a {
  text-decoration: none;
  color: #fff;
  position: relative;
  bottom: 16px;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  margin-left: 70px;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.form-container {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 37.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #151515;
  margin: 0;
  position: relative;
  /* Relative positioning */
  top: 20px;
  /* Fix to the top */
  left: 50%;
  transform: translateX(-50%);
  /* Center horizontally */
}

/* Forma elementlari */
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.form-group input {
  width: 100%;
  height: 70px;
  padding: 12px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #7a57ff;
  /* Fokusda rangni o'zgartirish */
}

.submit-btn {
  padding: 12px 20px;
  background-color: #010314;
  color: #fff;
  font-size: 18px;
  border: 1px solid #7744ffb2;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 300px;
  margin: 20px auto 0;
  /* Center button and add margin on top */
}

/* Footer styling */
.footer-container {
  background-color: #010314;
  /* Orqa fon rangi */
  color: #fff;
  padding: 20px 0;
  width: 1500px;
  /* Kenglikni to'liq qilib o'rnatish */
  max-width: 1500px;
  /* Kenglikni 800px ga cheklash */
  margin: 0 auto;
  /* Markazga joylashtirish */
  margin-top: -10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* 2 tomonda joylashgan */
  align-items: center;
  width: 100%;
  /* To'liq kenglikni olish */
  padding: 0 20px;
}

.footer-left p {
  margin: 0;
}

.footer-right {
  display: flex;
  gap: 20px;
  /* Har bir element o'rtasidagi bo'shliq */
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #ffffff;
  font-size: 1.5em;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}


@keyframes wiggle {

  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}




.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Чтобы снег не мешал кликам */
  z-index: 999;
  /* Убедитесь, что он поверх остальных элементов */
}

.slider {
  --totSlides: 7;
  --slideWidth: 200px;
  --slideHeight: 100px;
  --animationSpeed: calc(7s * var(--totSlides));
  height: var(--slideHeight);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slides-track {
  animation: scroll var(--animationSpeed) linear infinite;
  display: flex;
  gap: 12px;
  width: calc(var(--slideWidth) * var(--totSlides) * 2);
}

.slider .slides-track2 {
  animation: scroll2 var(--animationSpeed) linear infinite;
  display: flex;
  gap: 12px;
  width: calc(var(--slideWidth) * var(--totSlides) * 2);
}

.slider .slide {
  height: 100px;
  width: var(--slideWidth);
  overflow: hidden;
}

.slider .slide img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}


@keyframes scroll {
  0% {
    transform: translateX(calc(var(--slideWidth) * var(--totSlides) * -1)); 
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slideWidth) * var(--totSlides) * -1));
  }
}

.menu-item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;
}

.menu-item:nth-child(1) { animation-delay: 0.1s; }
.menu-item:nth-child(2) { animation-delay: 0.2s; }
.menu-item:nth-child(3) { animation-delay: 0.3s; }
.menu-item:nth-child(4) { animation-delay: 0.4s; }
.menu-item:nth-child(5) { animation-delay: 0.5s; }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


:root {
  --line-color: black; /* Цвет линии для light mode */
}

[data-theme="dark"] {
  --line-color: white; /* Цвет линии для dark mode */
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Толщина линии */
  background-color: var(--line-color); /* Используем переменную цвета */
  transition: width 0.3s ease;
}

.menu-item:hover::after {
  width: 100%; /* Линия растягивается до полного размера текста */
}
